.data-sneetch-extension {
  text-decoration: none;
}

.data-sneetch-extension::before {
  content: ' (';
}

.data-sneetch-extension::after {
  content: ')';
}

.data-sneetch-extension.missing {
  color: red;
}

.fork-flag.lovely-forks-addon .data-sneetch-extension {
  display: none;
}
